<% include partials/header1 %>
<title>تور ها</title>
<% include partials/header2 %> <%if (successMessage !== "undefined") { %>
<div class="alert alert-success" role="alert">
  <%=successMessage%>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>
<header class="jumbotron mine-bg-secondary text-light">
  <div class="jumbotron-content">
    <h1>تور ها</h1>
    <p>مشاهده تور های ثبت شده توسط کاربران</p>
    <form class="form-inline my-2 my-lg-0">
      <%if(searchInput !== "undefined") {%>
      <input
        class="form-control mr-sm-2 search my-3 search-input"
        type="search"
        value="<%=searchInput%>"
        placeholder="جستجوی تورها"
      />
      <% } else{ %>
      <input
        class="form-control mr-sm-2 search my-3 search-input"
        type="search"
        placeholder="جستجوی تورها"
      />
      <% } %>
    </form>
    <hr />
    <p class="text-right">
      <a
        class="btn mine-bg-primary text-light my-3 shadow"
        href="/campgrounds/new"
        >ثبت تور جدید <i class="fas fa-plus"></i
      ></a>
    </p>
  </div>
  <div class="bg"></div>
</header>
<div class="container">
  <div class="row mt-3">
    <div class="col-lg-12">
      <h3 class="mine-text-secondary">جدیدترین تور ها</h3>
    </div>
  </div>
  <div class="row my-5">
    <% campgrounds.forEach(function(camp){%>
    <div class="tour col-md-4 col-sm-6 mb-3 d-block text-center">
      <figure class="figure shadow rounded mine-bg-secondary">
        <img src="<%=camp.image %>" class="figure-img img-fluid rounded" />
        <figcaption class="figure-caption text-light">
          <%= camp.name%>
        </figcaption>
        <a
          href="/campgrounds/<%=camp._id%>"
          class="btn mine-bg-primary text-light my-3"
          >اطلاعات بیشتر</a
        >
      </figure>
    </div>
    <% }); %>
  </div>
  <% include partials/footer %>
</div>
