<% include partials/header1 %>
<title>404</title>
<% include partials/header2 %>
<div class="container text-center form-container">
<h1 class="my-5 mine-text-secondary">صفحه مورد نظر یافت نشد</h1>
</div>
<% include partials/footer %>