<% include partials/header1 %>
<title>ثبت تور جدید</title>
<% include partials/header2 %>

<div class="container text-center form-container">
<h1 class="my-5 mine-text-secondary">ثبت تور جدید</h1>
<div class="form-content">
<form action="/campgrounds"  method="POST">
  <div class="form-group">
    <input type="text" class="form-control text-center" name="name" placeholder="اسم مکان" required>
  </div>
  <div class="form-group">
    <input type="text" class="form-control text-center" name="image" placeholder="آدرس عکس" required>
  </div>
    <div class="form-group">
    <input type="text" class="form-control text-center" name="description" placeholder="توضیحات" required>
  </div>
  <button type="submit" class="btn mine-bg-primary text-light px-5 my-2">ثبت</button>
</form>
</div>
</div>

<% include partials/footer %>